body {
  font-family: 'Noto Sans SC', serif;
}
body {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.EstimationView .palette {
  margin: 10px;
  background-color: #282c34;
  position: relative;
}

.EstimationNodeView {
  background-color: rgb(226, 226, 226);
  border-radius: 3px;
  color: orange;
  text-shadow: 0 1px 0px rgba(0,0,0,0.25);
  display: block;
  position: absolute;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.75);
  cursor: pointer;
}

.EstimationNodeView:hover {
  background-color: rgba(255,255,255,0.25);
  color: white;
}

.inputLabel {
  background-color: white;
  border: 1px solid #8d8d8d;
  border-top: none;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.inputLabel:hover {
  background-color: #8d8d8d;
}

.outputLabel {
  background-color: white;
  border: 1px solid #8d8d8d;
  border-bottom: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.outputLabel:hover {
  background-color: #8d8d8d;
}
