body {
  font-family: 'Noto Sans SC', serif;
}
body {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.EstimationView .palette {
  margin: 10px;
  background-color: #282c34;
  position: relative;
}

.EstimationNodeView {
  background-color: rgb(226, 226, 226);
  border-radius: 3px;
  color: rgb(117, 126, 255);
  display: block;
  position: absolute;
  font-size: 12px;
}


.inputLabel {
  background-color: rgb(85, 85, 85);
  border-bottom: 1px solid black;
  border-left: 1px solid white;
  border-top: 1px solid white;
  cursor: pointer;
}

.inputLabel:first-of-type {
  border-left: none;
}

.inputLabel:hover {
  background-color: white;
}
