.EstimationPage {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 1000px;
}

.EstimationView, .NodeInspector {
  border-radius: 7px;
}

.EstimationView {
  background-color: #282c34;
  position: relative;
  border-radius: 7px;
}

.EstimationNodeView {
  background-color: rgb(226, 226, 226);
  border-radius: 3px;
  color: orange;
  text-shadow: 0 1px 0px rgba(0,0,0,0.25);
  display: block;
  position: absolute;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.75);
  cursor: pointer;
}

.EstimationNodeView:hover {
  background-color: rgba(255,255,255,0.25);
  color: white;
}

.EstimationNodeView .inputLabel {
  background-color: white;
  border: 1px solid #8d8d8d;
  border-top: none;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.EstimationNodeView .inputLabel:hover {
  background-color: #8d8d8d;
}

.EstimationNodeView .outputLabel {
  background-color: white;
  border: 1px solid #8d8d8d;
  border-bottom: none;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.EstimationNodeView .outputLabel:hover {
  background-color: #8d8d8d;
}

.NodeInspector {
  color: white;
  background-color: #8d8d8d;
  width: 100%;
  margin-left: 10px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
